{{outlet}}

{{#basic-dropdown-hover as |dd|}}
  {{#dd.trigger}}Click{{/dd.trigger}}
  {{#dd.content}}
    <p>One One One One</p>
    <p>Two Two Two Two</p>
    <p>Three Three Three Three</p>
  {{/dd.content}}
{{/basic-dropdown-hover}}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi harum facilis rem blanditiis. Est commodi reprehenderit optio, velit magnam tempore aut. Perferendis vero adipisci quaerat, quo exercitationem fugiat. Ratione, vero.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi harum facilis rem blanditiis. Est commodi reprehenderit optio, velit magnam tempore aut. Perferendis vero adipisci quaerat, quo exercitationem fugiat. Ratione, vero.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi harum facilis rem blanditiis. Est commodi reprehenderit optio, velit magnam tempore aut. Perferendis vero adipisci quaerat, quo exercitationem fugiat. Ratione, vero.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi harum facilis rem blanditiis. Est commodi reprehenderit optio, velit magnam tempore aut. Perferendis vero adipisci quaerat, quo exercitationem fugiat. Ratione, vero.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi harum facilis rem blanditiis. Est commodi reprehenderit optio, velit magnam tempore aut. Perferendis vero adipisci quaerat, quo exercitationem fugiat. Ratione, vero.</p>
